{% extends 'base.html'%}

{% block title %}
  Productos
{% endblock %}

{% block content%}

<h2 style="text-align: center;text-decoration: underline;">Productos</h2>

<br>

<h5 style="text-align: center;"> ¡ Mejora tus entrenamientos y alcanza tus objetivos con nuestra selección de suplementos deportivos de alta calidad !
</h5>

<br>




{% for product in products %}
<div class="card" style="width: 18rem;justify-content: center;left: 640px;width: 400px;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;">{{product.name}}</h5>
    <p style="text-align: center;">{{product.detalle}}</p>
    <p style="text-align: center;">Tiene un precio de ${{product.price}}</p>
    {% if product.stock == True %}
        <p style="text-align: center;"> Hay stock</p>
      {% else %}
        <p style="text-align: center;"> No hay stock</p>
    {% endif%}
    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser%}
      <div class="d-flex justify-content-center">
        <a href="/products/update_product/{{product.id}}" class="btn btn-dark">Actualizar</a>
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <a href="/products/delete_product/{{product.id}}" class="btn btn-dark">Borrar</a>
      </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endfor %}

<br>
<br>
<br>
{% if request.user.is_authenticated %}
  {% if request.user.is_superuser%}
  <div class="d-flex justify-content-center">
    <a href="/products/create_product/" class="btn btn-dark">Crear Nuevo Producto</a>
  </div>
  {% endif %}
{% endif %}

{% endblock %}



