{% extends 'base.html' %}

{% block title %}
    Nosotros
{% endblock %}


{% block content%}
    
<h2 style="text-align: center;text-decoration: underline;">Nosotros</h2>
<br>
<h5 style="text-align: center;">
    La pasión por la vida saludable y el fitness es una motivación común que impulsa a muchos a emprender en este tipo de negocios. No solo disfrutamos del mundo fitness sino que tambien lo vemos como una oportunidad para ayudar a las personas a mejorar su salud y bienestar. 
</h5>
<br>




<h2 style="text-align: center;text-decoration: underline;">Seguinos en nuestras redes sociales</h2>

<div style="text-align: center;">
    <a class="black-button" href="https://www.instagram.com/fe.forte/">Instagram</a>
</div>

<div style="text-align: center;">
    <a class="black-button" href="https://github.com/feliforte14">Github</a>
</div>

<div style="text-align: center;">
    <a class="black-button" href="https://www.linkedin.com/in/felipe-forte-7ba9691b3/">Linkedin</a>
</div>



{% endblock %}


