{% extends 'base.html'%}

{% block title %}

Creacion de Entrenadores

{% endblock %}

{% block content%}

{% if request.user.is_authenticated %}
    {% if request.user.is_superuser%}
        <h2 style="text-align: center;text-decoration: underline;">Creacion de Entrenadores</h2>
        <br>
        {% if form %}
        <div class="d-flex justify-content-center">
            <form action="" method="POST">
            {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="Crear Entrenador">
            </form>
        </div>
        {% endif %}


        {% if form_errors %}
        <h2 style="color:red,">Errores:</h2>
            {{form_errors}}}
        {% endif %}

        {% if message%}
            <h2 style="color:green;">{{message}}</h2>
        {% endif %}
    {% endif %}
{% endif %}

{% endblock%}